<div class="container">
  <div class="quiz-list-container">
    <h1>Here are your quizzes</h1>
    <ul id="quiz-list"></ul>
  </div>
  <div class="question-goes-here"></div>
</div>


<div class = "templates hidden">
  <div class = "quiz-question-container">
    <h2 class = "quiz-question-title"></h2>
      <ul class = "quiz-answers-list"></ul>
  </div>
</div>
