body {
  background-color: #28C2E8;

}

.container {
  margin: 3em;
  padding: 2em;
  background-color: #285DE8;
  border-radius: 10px;
  font-family: "Helvetica", sans-serif;
}

h1 {
  text-align: center;
  font-size: 32px;
  color: black;
}

#quiz-list {
  text-align: center;
  list-style-type: none;
  line-height: 2em;

}

.quiz-answer {
  line-height: 2em;
  list-style-type: none;
}

.hidden {
  display:none;
}
